$white:     #fff;
$black: #000;


$mobile-sm: "(max-width: 565px)";
$mobile: "(max-width: 565px)";
$mobile-large: "(max-width: 767px)";
$tablet: "(max-width: 991px)";
$notebook: "(max-width: 1199px)";
