@import "fonts";
@import "vars";
@import "vendor/reset";

html {
    font-size: 10px
}

body {
    background-color: $white;

    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    color: $black;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks
============================= */
@import "blocks/page";
@import "blocks/btn";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/quote";
@import "blocks/section";
@import "blocks/recommendations";
@import "blocks/action";
@import "blocks/info";
@import "blocks/footer";
@import "blocks/copyright";
@import "blocks/product";
@import "blocks/path";
@import "blocks/cart";
@import "blocks/dropdown";

/* Helpers
============================= */
@import "helpers";

