.action {
    min-height: 724px;
    background: #e8dbcc url(../images/action/action-bg.jpg) no-repeat;
    background-size: cover;

    position: relative;

    &__inner {
        display: flex;
    }

    &__content {
        padding-top: 33.7rem;
        margin-left: auto;
        min-width: 375px;

        @media (max-width: 991px) {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;

            padding-left: 2.5rem;
            margin-bottom: -135px;
        }
    }

    &-link {
        margin-bottom: 3.3rem;
        font-family: 'Raleway', sans-serif;
        color: $black;
        line-height: 1.2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 991px) {
            font-size: 2.4rem;
        }
    }

    &__incart {
        display: flex;
        justify-content: space-between;
        margin-top: 3.3rem;
    }

    @media (max-width: 1200px) {
        background-position: center;
    }

    @media (max-width: 991px) {
        margin-bottom: 17.9rem;
        background-position: 0% 0%;
    }
}