.action {
    min-height: 724px;
    background: #e8dbcc url(../images/action/action-bg.jpg) no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
    }

    &__content {
        padding-top: 33.7rem;
        margin-left: auto;
        min-width: 375px;
    }

    &-link {
        margin-bottom: 3.3rem;
    }

    &__incart {
        display: flex;
        justify-content: space-between;
    }
}