
.dropdown {
    position: relative;

    &__button {
        font-family: 'Raleway', sans-serif;
        font-size: 2.4rem;
        line-height: 1;
        color: $black;
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;

        width: 70px;
        border: 1px solid transparent;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
        background-color: transparent;
        outline: 0;
        padding: .65em;

        &.active {
            background-color: $black;
            color: $white;
            border-color: transparent;
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;

        font-family: 'Raleway', sans-serif;
        color: $white;
        font-size: 2.4rem;
        text-align: center;

        width: 100%;
        border: 1px solid $black;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
        background-color: $white;
        visibility: hidden;

        &.show {
            visibility: visible;
        }
    }

    &__item {
        padding: .20em;

        color: $black;

        transition: background-color .2s linear;

        &:hover {
            background-color: $black;
            cursor: pointer;
            color: $white;
        }
    }
}