.footer {
    padding-top: 9.2rem;
    margin-top: auto;
    background-color: $black;

    &__inner {
        display: flex;
        justify-content: space-between;

        position: relative;
    }

    &__footer {
        
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    
        margin-top: -20px;
        
        .footer__icon {
            font-family: 'Raleway', sans-serif;
            font-size: 6.4rem;
            color: $white;
            font-weight: 700;
            text-decoration: none;
            
    
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px $white;

            transition: text-shadow .2s linear;

            &:hover {
                opacity: 1;
                text-shadow: -3px 0px $white;
            }
        }
    }
}
