.footer {
    padding-top: 9.2rem;
    margin-top: auto;
    background-color: $black;

    @media (max-width: 320px) {
        padding-top: 6rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        position: relative;

        @media (max-width: 767px) {
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    &__nav {
        @media (max-width: 991px) {
            display: block;
            text-align: left;
            margin-left: 0;
        }

        @media (max-width: 767px) {
            text-align: left;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    
        margin-top: -20px;

        @media (max-width: 991px) {
            text-align: center;
        }

        @media (max-width: 767px) {
            position: static;

            margin-top: 20px;
            transform: translateX(0);

            text-align: left;

            order: 1;
        }
        
        .footer__icon {
            font-family: 'Raleway', sans-serif;
            font-size: 6.4rem;
            color: $white;
            font-weight: 700;
            text-decoration: none;
            
    
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px $white;

            transition: text-shadow .2s linear;

            &:hover {
                opacity: 1;
                text-shadow: -3px 0px $white;
            }
        }
    }
}