.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    

    &__inner {
        // display: flex;
        // justify-content: space-between;
        padding: 8.4rem 0;

        @media (max-width: 991px) {
            display: flex;
            justify-content: flex-end;
        }

        // position: relative;
    }

    &__logo {
        font-family: 'Raleway', sans-serif;
        font-size: 6.4rem;
        color: $white;
        font-weight: 700;
        text-decoration: none;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px $white;

        transition: text-shadow .2s linear;

        &:hover {
            opacity: 1;
            text-shadow: -3px 0px $white;
        }
    }

    &--black {
        background-color: $black;

        .header__inner {
            padding: 7.1rem 0;
        }
    }
}