.info {
    background-color: $white;
    padding-top: 4.5rem;
    padding-bottom: 58.5rem;

    background-image: linear-gradient(to top, rgba($black, 1) 2%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), url(../images/svg/city.svg);
    background-repeat: no-repeat;
    background-position: center bottom -15px;

    @media (max-width: 565px) {
        padding-bottom: 40.8rem;
        background-size: 565px 400px;
    }

    &__list-item {
        margin-bottom: 4.55rem;
        line-height: 1.5;

        & ol {
            list-style: decimal;
            padding-left: 3rem;
            padding-right: 20rem;

            @media (max-width: 565px) {
                padding-right: 10rem;
                text-align: left;
            }

            @media (max-width: 320px) {
                padding-right: 0;
                text-align: left;
            }
        }

        @media (max-width: 767px) {
            text-align-last: left;
        }
    }

    &__list-text {
        font-size: 2.8rem;
        color: $black;

        @media (max-width: 767px) {
            font-size: 1.8rem;
            text-align: left;
        }
    }

    &__list-icon {
        display: block;
        width: 46px;
        height: 46px;
        fill: $black;
        order: 2;

        transition: fill .2s linear;
        
        &:hover {
            fill: rgba($black, 0.7);
        }
    }

    &__list-item__link {
        color: $black;
        text-decoration: none;

        transition: color .2s linear;

        &:hover {
            text-decoration: underline;
            color: rgba($black, 0.7);
        }
    }

    &__list-item__inner {
        @media (max-width: 767px) {
            font-size: 1.8rem;
        }
    }
}