.info {
    background-color: $white;
    padding-top: 4.5rem;

    &__list-item {
        margin-bottom: 4.55rem;
        line-height: 1.5;

        & ol {
            list-style: decimal;
            // list-style-position: inside;
            padding-left: 3rem;
            padding-right: 20rem;
        }
    }

    &__list-text {
        font-size: 2.8rem;
        color: $black;
    }
}