.price {
    padding-left: 5.4rem;

    @media (max-width: 991px) {
        padding-left: 4.3rem;
    }

    &-old {
        margin-bottom: .6rem;
        display: inline-block;
        position: relative;
    
        &:after {
            content: "";
            display: block;
            width: 120%;
            height: 1px;
            background-color: $black;
            transform: rotate(-10deg) translate3d(-50%, 3px, 0);
    
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
        }

        @media (max-width: 565px) {
            font-size: 1.8rem;
        }
    }


    &-new {
        @media (max-width: 767px) {
            font-size: 1.8rem;
        }
    }

    &-text {
        font-family: inherit;
        font-size: 2.4rem;
        color: $black;
        opacity: .5;
    }
}

