.quote {
    padding: 8.8rem 0 9.3rem;
    

    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__photo {
        width: 31.25%;
        min-height: 408px;
        overflow: hidden;

        @media (max-width: 565px) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;

        object-fit: cover;
        object-position: top center;
    }

    &__text {
        width: 68.75%;
        padding-top: 8.9rem;
        padding-left: 7.1rem;

        @media (max-width: 991px) {
            padding-top: 7rem;
            padding-left: 7.1rem;
        }

        @media (max-width: 767px) {
            padding-top: 7rem;
            padding-left: 4rem;
        }

        @media (max-width: 565px) {
            width: 100%;
            padding-left: 0;
        }

        @media (max-width: 320px) {
            padding-left: 0;
            padding-top: 3rem;
        }

        
    }

    &__icon {
        display: block;
        width: 85px;
        height: 85px;

        margin-bottom: 3.3rem;

        @media (max-width: 767px) {
            margin-bottom: 2rem;
        }
    }

    @media (max-width: 565px) {
        padding: 6.8rem 0 7.3rem;
    }
}
