<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <a class="footer__icon" href="#">420</a>
                <div class="nav nav__col">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">+375 (44) 727 86 42</a>
                        </li>

                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">sale@420fourtwoo.by</a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="nav">
                <div class="nav__info">
                    <a class="nav__link" href="#">каталог</a>
                    <a class="nav__link" href="#">о нас</a>
                </div>

                <div class="nav__col">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">майки</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">худи</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">свитшоты</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">бейсболки</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">шапки</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-item__link" href="#">кеды</a>
                        </li>
                    </ul>
                </div><!-- /.nav__col -->
            </nav>

            <nav class="nav__delivery">
                <a class="nav__link" href="#">доставка</a>
                <a class="nav__delivery-link" href="">
                    <svg class="nav__link-icon">
                        <use href="../assets/images/svg/sprites.svg#cart"></use>
                    </svg>  
                </a>

                <a class="nav__delivery-link" href="#">
                    <svg class="nav__link-icon">
                        <use href="../assets/images/svg/sprites.svg#instagram"></use>
                    </svg>
                </a>

                <a class="nav__delivery-link" href="#">
                    <svg class="nav__link-icon">
                        <use href="../assets/images/svg/sprites.svg#facebook"></use>
                    </svg>
                </a>
            </nav>
        </div><!-- /.footer__inner -->
    </div><!-- /.container -->
    
    <div class="copyright">
        <div class="container">
            <div class="copyright__text">Политика конфиденциальности и Условия использования</div>
        </div>
    </div>
</footer>
