<!-- Header -->
<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="index.html">420</a>
            <div class="wrapper" id="nav">
                <nav class="nav">
                    <div class="nav__info">
                        <a class="nav__link" href="#">каталог</a>
                        <a class="nav__link" href="#">о нас</a>
                    </div>
                </nav>

                <nav class="nav nav__delivery">
                    <a class="nav__link" href="#" data-scroll="delivery">доставка</a>

                    <div class="flex">
                        <a class="nav__delivery-link" href="cart.html">
                            <svg class="nav__link-icon">
                                <use href="assets/images/svg/sprites.svg#cart"></use>
                            </svg>  
                        </a>

                        <a class="nav__delivery-link" href="#" target="_blank">
                            <svg class="nav__link-icon">
                                <use href="assets/images/svg/sprites.svg#instagram"></use>
                            </svg>
                        </a>

                        <a class="nav__delivery-link" href="#" target="_blank">
                            <svg class="nav__link-icon">
                                <use href="assets/images/svg/sprites.svg#facebook"></use>
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>

            <button class="burger" id="navToggle">
                <span class="burger__item">1</span>
            </button>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
