<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">420</a>
            <nav class="nav">
                <div class="nav__info">
                    <a class="nav__link" href="#">каталог</a>
                    <a class="nav__link" href="#">о нас</a>
                </div>
            </nav>

            <nav class="nav__delivery">
                <a class="nav__link" href="#">доставка</a>
                <a class="nav__delivery-link" href="">
                    <svg class="nav__link-icon">
                        <use href="assets/images/svg/sprites.svg#cart"></use>
                    </svg>  
                </a>

                <a class="nav__delivery-link" href="#">
                    <svg class="nav__link-icon">
                        <use href="../assets/images/svg/sprites.svg#instagram"></use>
                    </svg>
                </a>

                <a class="nav__delivery-link" href="#">
                    <svg class="nav__link-icon">
                        <use href="../assets/images/svg/sprites.svg#facebook"></use>
                    </svg>
                </a>
            </nav>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
